<%= devise_error_messages! %>

<div class="container w-75">
  <h4>¿ Como deseas registrarte ?</h4>

  <div id='userTypeSelector' class='list-group list-group-horizontal mb-4'>
    <button name="Donor" class="list-group-item list-group-item-action">Donador</button>
    <button name="Company" class="list-group-item list-group-item-action">Compañía</button>
    <button name="SocialCompany" class="list-group-item list-group-item-action">Empresa social</button>
  </div>

  <div id="forms">
    <div id="DonorForm" style='display: none'>
      <%= render 'devise/registrations/donor' %>
    </div>
    <div id="CompanyForm" style='display: none'>
      <%= render 'devise/registrations/company' %>
    </div>
    <div id="SocialCompanyForm" style='display: none'>
      <%= render 'devise/registrations/social_company' %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#userTypeSelector button").click(function () {
      $(this).parent().children().removeClass('active');
      $(this).addClass("active");
      var formType = $(this).attr('name') + 'Form'
      $('#forms').children().hide()
      $(`#${formType}`).show()
    });

    $(".custom-file-input").on("change", function () {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  })

  window.readURL = function(input, element) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $(`#${element}`).attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>
