<h3>Empresas</h3>
<div class="col">
  <% @companies.each do |c| %>
    <div class="row list-group-item border">
      <div class="row" style="height: 60px">
        <div class="col-2 mh-100 test-light">
          <%=image_tag c.avatar, class: 'mw-100 mh-100'%>
        </div>
        <div class="col-6 m-auto text-center">
          <%= c.name %>
        </div>
        <div class="col m-auto text-center">
          <%= link_to t(:require), projects_path, class: 'btn h-100 w-100' %>
        </div>
      </div>
    </div>
  <% end %>
</ul>
