<h2>Solicitudes de patrocinio</h2>
<hr>
<% if @requirements.any? %>
  <div class="list-group-item border bg-dark text-light font-weight-bold">
    <div class="row">
      <div class="col-9 m-auto text-center">
        <%= t(:one, scope: %i[project name])%>
      </div>
      <div class="col m-auto text-center">
      </div>
    </div>
  </div>
  <% @requirements.each do |r| %>
    <div class="list-group-item border">
      <div class="row">
        <div class="col-8 m-auto text-center">
          <%= r.project %>
        </div>
        <div class="col m-auto text-center">
          <%= link_to t(:sponsor), new_contract_path(r.project.id), class: 'btn btn-outline-warning' %>
        </div>
        <div class="col m-auto text-center">
          <%= button_to t(:destroy), decline_sponsorship_path(r.id), class: 'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="alert alert-info">
  <h5 class="alert-heading">
    No hay nada nuevo por aquí
  </h5>
  <hr>
  <div class="">
    Las solicitudes de patrocinio por parte de los proyectos sociales aparecerán aquí
  </div>
</div>
<% end %>
