<br>
<br>
<footer class="footer mt-auto py-3">
  <div class="container p-3" style="height: 80px; width: 50%;">
    <p class="float-right"><a href="#">Volver arriba</a></p>
    <p>&copy; 2019 DonaTío, Inc. &middot; <a href="#">Quienes somos</a> &middot; <a href="#">Términos y condiciones</a></p>
  </div>
</footer>