<div class="sidenav">
	<a href="#"> <%=link_to"Resumen", profile_path, method: :get %> </a>
	<% if isDonor? %>
	 	<a href="#"> <%=link_to"Mis Donaciones", donaciones_path, method: :get %> </a>
	<% elsif isSocialCompany? %>
	 	<a href="#"> <%=link_to"Mis Proyectos", proyectos_social_path, method: :get %> </a>	
	<% else %>
	 	<a href="#"> <%=link_to"Proyectos", proyectos_empresa_path, method: :get %> </a>	
	<% end %>	
	<% if isSocialCompany? %>
	 	<a href="#">Buscar patrocinador</a>
	<% elsif isDonor? %>
		<a href="#">Mis beneficios</a>
	<%else %>
		<a href="#">Beneficios entregados</a>
	<% end %>
	<a href="#">Datos</a>
</div>