<div class="sidenav">
	<a> <%=link_to "Resumen", profile_path, method: :get %></a>
	<a href="#">Proyectos</a>
	<a href="#">Datos</a>
	<a href="#">Beneficios</a>
	<% if isSocialCompany? %>
	 	<a href="#">Buscar patrocinador</a>
	<% else %>
	<% end %>
</div>