<div class="sidenav">
	<a href="#">Resumen</a>
	<a href="#">Proyectos</a>
	<a href="#">Datos</a>
	<a href="#">Beneficios</a>
	<% if isSocialCompany? %>
	 	<a href="#">Buscar patrocinador</a>
	<% else %>
	<% end %>
</div>