<h5>¿ Como deseas registrarte ?</h5>
<ul class='list-group-horizontal'>
  <li class='list-group-item list-group-item-action'>
    Donador
  </li>
  <li class='list-group-item list-group-item-action'>
    Compañía
  </li>
  <li class='list-group-item list-group-item-action'>
    Emprensa social
  </li>
</ul>
